@font-face {
    font-family: lato;
    src: url(./fonts/lato/Lato-Regular.ttf);
    font-display: swap;
}

body {
    font-family: lato, serif;
    overflow: hidden !important;
    margin: 0;
}

.PageContent {
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow: auto;
    scroll-behavior: smooth;
    height: calc(100vh - 82px);
}
