html {
    scroll-behavior: smooth;
}

::-webkit-scrollbar {
    width: 20px;
}

::-webkit-scrollbar-track {
    background: #e8e8e8;
    border-radius: 6px;
}

::-webkit-scrollbar-thumb {
    background: #ababab;
}

::-webkit-scrollbar-thumb:hover {
    background: #808080;
}